.fname .frozen-icon {
  display: inline-block;
  width: 14px;
  height: 14px;

  margin-right: 3px;

  background-image: url('../icons/flake_black.png');
  background-size: cover;
}

.nightMode .fname .frozen-icon {
  background-image: url('../icons/flake_white.png');
}

.night_mode .fname .frozen-icon {
  background-image: url('../icons/flake_white.png');
}

.fname.is-frozen .frozen-icon {
  background-image: url('../icons/flake_blue.png');
}
